[Unit]
Description=ostree-autoreboot
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/sh -c '[ ! -z "$(whereis zpool | awk '{print $2}' )" ] && zpool status | grep -q 'scrub in progress' && exit 0; rpm-ostree status --pending-exit-77 > /dev/null; if [ $? -eq 77 ]; then systemctl reboot; fi'
