[Unit]
Description=ostree-autoreboot timer
ConditionPathExists=/run/ostree-booted

[Timer]
OnCalendar=*-*-* 4:30:00
RandomizedDelaySec=20m

[Install]
WantedBy=timers.target
